<div class="container-xl d-flex justify-content-center">
    <form action="" method="POST" class="form">
        <label for="name" class="label">Full name</label>
        <input type="text" name="txtName" class="input">
        
        <label for="email" class="label">E-Mail</label>
        <input type="email" name="txtEmail" class="input">

        <label for="password" class="label">Password</label>
        <input type="password" name="txtPassword" class="input">

        <button class="btn-primary" type="submit">Register</button>
    </form>
</div>